<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queries visualizator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/login.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/queries.js"> </script>
</head>
<body onload="Parallax()">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">EPIC SEARCH</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/index">index</a></li>
            </ul>
    
            <ul id="nav-mobile" class="sidenav">
                <li><a href="/index">index</a></li>
            </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">index</i></a>
        </div>
    </nav>

    <div class="parallax-container">
        <div class="parallax"><img src="static/images/bd.jpg"></div>
    </div>
    <div class="section red accent-2 ">
        <div class="row container  ">
        
             
            <div class="row ">
                <div class="col s2"></div>
                <div class="col s8">

                    <div class="row ">
                        <div class="col s2"></div>
                        <form class="col s8 ">
                            <div class="row">
                                <div class="input-field col s12 white">
                                    <textarea id="textarea1" class="materialize-textarea "></textarea>
                                    <label for="textarea1">Ingrese su query </label>
                                </div>
                                <div class="col s5"></div>
                                <a class="waves-effect waves-light btn-large" onclick="send()">Button</a>
                                    
                            </div>
                        </form>
                    </div>   
                    
                    
                    <br> 
                    
                        <table class="striped centered responsive-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Text</th>
                                <th>Date</th>
                                <th>Language</th>
                            </tr>
                            </thead>
        
                            <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                                <td>en</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                                <td>en</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                                <td>en</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>    
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="static/images/bd.jpg"></div>
    </div>
</body>
</html>